*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
.App {
  text-align: center;
  position: relative;
  display: block;
  z-index: 0;
}
.main
{
  top: 0px;
  height: 100px;
  width: 100%;
  background-color: #4B4949;
  position:fixed;
  z-index: 7;
  transition: ease-in;
  transition-duration: .5s;
}
.small
{
  top: 0px;
  height: 60px;
  width: 100%;
  background-color: #4B4949;
  position:fixed;
  z-index: 7;
  transition: ease-in;
  transition-duration: .5s;
} 
.main .logo
{
  height:50px;
  width: 300px;
  margin-top:20px;
  transition: ease-in;
  transition-duration: .5s;
}
.main  .member{
  border-color: #FFBA48;
  border-width: 2px;
  background-color: #4B4949;
  color: white;
  height: 45px;
  width: 400px;
  margin-top: 25px;
  transition: ease-in;
  transition-duration: .5s;
}
.main .lang{
  border-color: #FFBA48;
  border-width: 2px;
  background-color: #4B4949;
  color: white;
  height: 45px;
  margin-top: 25px;
  transition: ease-in;
  transition-duration: .5s;
}
.main .member
{
  float: left;
  width: 150px;
  margin-left: 30px;
}
.main button:hover{
  background-color: #FFBA48;
  color:black;
  font-size: 1.02em;

}
.main .lang
{
  float:right;
  width: 150px;
  margin-right: 30px;
}








.small .logo
{
  height:30px;
  width: 180px;
  margin-top:18px;
  transition: ease-in;
  transition-duration: .5s;
}
.small .member{
  border-color: #FFBA48;
  border-width: 2px;
  background-color: #4B4949;
  color: white;
  height: 45px;
  margin-top: 7px;
  transition: ease-in;
  transition-duration: .5s;
}
.small .lang{
  border-color: #FFBA48;
  border-width: 2px;
  background-color: #4B4949;
  color: white;
  height: 45px;
  margin-top: 7px;
  transition: ease-in;
  transition-duration: .5s;
}
.small .member
{
  float: left;
  width: 150px;
  margin-left: 30px;
}
.small .main button:hover{
  background-color: #FFBA48;
  color:black;
  font-size: 1.02em;

}
.small .lang
{
  float:right;
  width: 150px;
  margin-right: 30px;
}






.navbar
{
  height: 60px;
  background-color: white;
  position: fixed;
  width: 100%;
  display: block;
  z-index: 7;
  box-shadow: -4px 10px 13px -3px rgba(84,93,120,0.59);
}
.room
{
  float: left;
  width: 140px;
  height: 50px;
  margin: 5px 120px;
  color: white;
  background-color: #6b6a6a;
  font-family: 'Noto Sans KR', sans-serif;
  border-color: #FFBA48;
}

.nav
{
  list-style: none;
}
.nav li{
  float: left;
  display: block;
  width: 200px;
  height: 60px;
  line-height: 55px;
}
.nav li:hover
{
  background-color: #4B4949;
  font-size: 1.3em;
  font-weight: 450;
}
.slide
{
  width: 100%;
  /*background-color:grey;
  opacity: 0.2;*/
  top: 100px;
  position:relative;
  display: block;
  margin-bottom: 100px;
}
.container
{
  margin-top: 100px;
  position: relative; 
  display: block;
  transition: ease-in;
  transition-duration: .5s;
}
.scontainer
{
  margin-top: 60px;
  position: relative; 
  display: block;
  transition: ease-in;
  transition-duration: .5s;
}

.contain img
{
  width: 100%; 
  height: 100%;
}
.slider button
{
  position: absolute;
  height: 100%;
  width: 150px;
  background: none;
  z-index: 1;
  border: 0;
  outline: none;
}
.slider button:hover
{
  background-color: #61606071;
}
.prev{
  left: 0;
}
.next
{
  right: 0; 
}
.contain
{
  box-sizing: border-box;
  width: 100%;
  height: 900px;
  margin: auto;
  display: flex;
  position: relative;
  transition-duration: .5s;
}
.slider
{
  box-sizing: border-box;
  border-width: 20px;
  border-color: black;
  width: 90%;
  height: 900px;
  top: 0px;
  margin: auto;
  display: block;
  position: relative;
  overflow: hidden;
  transition-duration: .5s;
}
.aboutdiv
{
  display:flex;
  position : relative;
  height: 60px;
  width: 100%;
  background-color: #FFBA48;
}
.aboutdiv div
{
  height:100%;
  width: 20%;
  line-height: 60px; 
}
.aboutdiv div:hover
{
  background-color: #4B4949;
  color: white;
}
.closing{
  background-color: #4B4949;
  display:flex;
  color: white;
}
.closing div{
  padding-top: 40px;
  width: 25%;
  height: 350px;
  border-right: 2px solid #4B4949;
}
.closing div p{
  margin-top: 18px;
}
.closing div p:hover{
  text-decoration: underline ;
  font-weight: 700;
}
.closing div h3{
  color: wheat;
  font-size: larger;
}
.restaurant
{
  width: 100%;
  /*background-color:grey;
  opacity: 0.2;*/
  top: 100px;
  position:relative;
  display: block;
}
.desc
{
  width: 100%;
  height: 270px;
  padding: 20px 600px 20px 100px;
  text-align: left;
}
.desc h1{
  color: #353333;
  font-size: 3em;
}
.desc p{
  margin-top: 30px;
  font-size: 1.2em;
  color: #494747;
}

.search
{
  display: block;
  position: sticky;
  top:120px;
  height: 80px;
  width: 100%;
  padding: 20px 120px;
  border-bottom: 2px solid grey;
  border-top: 1px ridge grey;
  z-index: 1;
  background-color: white;
}
.search p{
  font-size: 1.3em;
  color: #494747;
  float: left;

}
.search input{
  margin-left: 0px;
}
.search label{
  font-size: 1.3em;
  color: #494747;
  margin-right:80px;
  margin-left: 20px;
}
.norm{
  height: 40px;
  width: 150px;
  border-style: solid;
  border-bottom-style: ridge;
  background-color: white;
  border-color: white;
  margin-right: 50px;
  box-shadow: none;
}
.search i{
  margin-left: 80px;
}
#clear{
  height: 40px;
  width: 150px;
  border: 2px ridge rgb(61, 143, 168) ;
  background-color: white;
  margin-left: 150px;
}
#clear:hover{
  background-color: aquamarine;
  color: white;
}
.t{
  width: 100%;
  background-color: rgba(202, 201, 199, 0.596);
  position: relative;
  margin-bottom: 100px;
  height: 1650px;
}
.cir{
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 100%;
  background-color: #4B4949;
}
.eat{
  color: #4B4949;
  margin-top: 130px;
  margin-left: 40px;
  max-width: 330px;
  background-color: white;
  box-shadow: 0px 3px 16px 1px rgba(0,0,0,0.75);
  padding: 10px;
  text-align: left;
}
.he{
  overflow: hidden;
  height: 400px; 
  align-items: center; 
  text-align: center;
  transition-duration: .5s;
  position: relative;
}
.he img{
  
  height: 400px;
  width: 100%;
  transform: scaleX(1.2);
  transition-duration: 2s;
}
.he:hover img
{
  transform: scaleX(1.4);
}
.eat h3{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 0.9;
  font-size: 1.3em;
  margin: 10px 0px;
}
.eat button{
  background-color: #015b70;
  border-width: 0px;
  height: 50px;
  width: 310px;
  margin-top: 30px;
  margin-bottom: 0px;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
}
.eat button:hover{
  background-color: #034c5c;
}
.w{
  display: flex;
  margin-bottom: 70px;
}
.wedding{
  width: 100%;
  /*background-color:grey;
  opacity: 0.2;*/
  top: 100px;
  position:relative;
  display: block;
  margin-bottom: 130px;
}
.wed{
  margin: 60px 150px;
  position: relative;
  display: block;
}
.inner{
  width: 100%;
  height:600px;
  position: relative;
}
.inner img
{
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.abs
{
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #035eb9;
  opacity: 0.8;
  z-index: 2;
  width: 0%;
  height: 0%;
  transition: 1s;
}
.inner:hover .abs{
  top: 5%;
  left: 3%;
  width: 94%;
  height: 90%;
  transform: rotate3d(1,1,1,360deg);
}
.abs *
{
  display: none;
}
.inner:hover  .abs h1
{
  display: block;
}
.inner:hover  .abs p
{
  display: block;
}
.abs h1
{
  color:black;
  margin-top: 30px;
}
.abs hr{
  margin: 50px 0px;
  width: 0px;
  height: 5px;
  transition-duration: 2s;
  background-color:black;
}
.abs:hover hr{
  transition-delay: .5s;
  width: 100%;
  display: block;
}

.abs p{
  padding: 0px 100px;
  font-weight: 900;
}
.abs i{
  margin-right: 5px;
}
.inner:hover .abs h3
{
  display: inline;
}
.inner:hover .abs i{
  display: inline;
}
.inner:hover .abs br{
  display: block;
}
.booking
{
  display: block;
  position: sticky;
  top:150px;
}
.des{
  position: relative;
  height: 60px;
  background-color: white;
  border-width: 0px 0px 2px 0px;
  border-style: ridge;

}
.roo-container{
  display:flex;
  padding: 100px 80px;
  position: relative;
}
.roo{
  position: relative;
  display: block;
  min-width: 30%;
  margin: 50px 20px;
  text-align: left;
}
.cont{
  position: relative; 
  overflow: hidden;
  display: flex;
  width: 100%;
  height:300px;
  box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
  margin-bottom: 15px;
}
.cont img{
  display: block;
  position: relative;
  min-width: 100%;
  height: 100%;
  transition-duration: 3s;
}
.cont:hover img{
  transform: translateX(-200%);
}
.roo h2{
  margin: 5px;
}
.roo pre{
  color: #979797;
  font-weight: 600;
}
.roo p{
  margin: 15px 0px;
  color: #646161;
  text-align: left;
}
.roo i{
  color: #015b70;
  margin-right: 10px;
}
.roo h5{
  text-align: left;
  font-size: 1em;
  color: #646161;
  margin-bottom:7px;
  font-weight: 600;
}
.b1{
  border-width: 0px;
  background-color: #015b70;
  color: white;
  width: 150px;
  height: 50px;
  margin-top: 15px;
}
.b2{
  background-color: white;
  border-width: 0px;
  color:#015b70;
  margin-top: 15px;
  margin-left: 50px;
  width: 150px;
  height: 50px;
  float: right;
  font-size: 1.02em;
}
.signbox{
  height:500px;
  width: 400px;
  padding: 50px;
  text-align: left;
  z-index: 19;
  background-color: white;
  position: absolute;
  display: block;
  top:70px;
  left: 30px;
}
.signbox p{
  color: #646161;
}
.signbox input{
  height: 30px;
  width: 150px;
  margin: 20px 0px;
}
.s1{
  margin-left: 200px;
  height: 40px;
  width: 100px;
}